<div class="jumbotron">
  <div class="container">
    <h1>Snap Your Web.</h1>
    <p> Where social is snappy. &#9786;<p>
    <p> <a href="#signup"class="btn btn-info btn-lg" role="button"> Sign Up Now </a>
  </div>
</div>
