<div class="jumbotron">
  <div class="container">
    <h1>Snap Your Web.</h1>
    <p> Where social is snappy. &#9786;<p>
    <p> <a href="#signup"class="btn btn-info btn-lg" role="button"> Sign Up Now </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>It's Snaptastic</h3>
      <p> Snaps are gloriously fantastic. Snap, snap. </p>
    </div>

    <div class="col-md-4">
      <h3>It's Snaplicious</h3>
      <p> Snaps are a tasty and nutritious part of any balanced breakfast. </p>
    </div>

    <div class="col-md-4">
      <h3>It's Snapomania</h3>
      <p>SO MANY SNAPS!!!</p>
    </div>
  </div>
</div>
