<div id="login-form">
  <h1> LOG IN </h1>
  <input id="login-email-input" type="text">
  <input id="login-password-input" type="password">

  <input class=".submit" id="login-submit" type="button" value="Sign In">
</div>
