<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-container">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSNAP</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse-container">
      <ul class="navbar-controls nav navbar-nav navbar-right">
        {{#if loggedIn}}
        <li></li>
          <li class="button"> <form class="navbar-form" action="#send">
            <button class="btn navbar-btn navbar-send-btn">Send Snap</button>
          </form></li>
          <li class="button"> <form class="navbar-form" action="#snaps">
            <button class="btn navbar-btn navbar-snaps-btn">My Snaps</button>
          </form></li>
          <li class="button"> <form class="navbar-form" action="#logout">
            <button class="btn navbar-btn navbar-logout-btn">Log Out</button>
          </form></li>
        {{else}}
          <li class="button"> <form class="navbar-form" action="#login">
            <button class="btn navbar-btn navbar-login-btn">Sign In</button>
          </form></li>
        {{/if}}
      </div>
    </div>
  </div>
</div>
