<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSNAP</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-right">
        <li class="button"><a href="#login" class="btn navbar-btn">Sign in</a></li>
      </div>
    </div>
  </div>
</div>
