<div class="send-form-container container">
  <h1> Send a Snap </h1>
  <form id="send-form">

  <div id="send-email-group" class="form-group">
  </div>
  <div id="send-message-group" class="form-group">
  </div>
  <div id="send-file-group" class="form-group">
  </div>

  <button class="btn btn-info" type="submit">Send</button>
  </form>
</div>
