<div id="signup-form">
  <h1> SIGN UP </h1>
  <input id="signup-email-input" type="text">
  <input id="signup-password-input" type="password">

  <input id="signup-submit" type="button" value="Sign In">
</div>
