<div id="unverified-email-notice">
  <h1> Email Not Verified </h1>
  <div> You must verify your email before you can access WebSnap.</div>
  <div> An email has been sent to {{ email }}. Please check your spam folders.</div>
  <div> Once you have verified your email, you can <a href="#login">log in</a> and start snapping! </div>
</div>
