@import 'bootstrap/bootstrap.less';

.linear-transition(@time: 0.05s) {
  -moz-transition: @time linear;
  -o-transition: @time linear;
  -webkit-transition: @time linear;
  transition: @time linear;
}

.btn-outline(@color: white, @hoverColor: @color, @hoverText: #444) {
  background-color: fadeout(@color, 90%);
  border: 2px solid @color;
  color: @color;
  font-weight: normal;
  border-radius: 4px;
  .linear-transition(0.05s);

  &:hover {
    border: 2px solid @hoverColor;
    background-color: @hoverColor;
    opacity: 1;
    color: @hoverText;
  }
}



body {
  padding-top: 60px;
}

#nav-container .navbar-brand {
  margin-top: 8px;
  color: white;
  .linear-transition(0.1s);
  &:hover {
    color: #bb33dd;
  }
}

form.navbar-form {
  padding-left: 0;
  button {
    .btn-outline();
    &.navbar-send-btn {
      .btn-outline(white, @brand-primary, white);
    }
    &.navbar-snaps-btn {
      .btn-outline(white, @brand-warning, white);
    }
    &.navbar-logout-btn {
      .btn-outline(white, @brand-danger, white);
    }
    &.navbar-login-btn {
      .btn-outline(white, @brand-success, white);
    }
  }
}


#content-container .jumbotron {
  background-color: #bb33dd;
  color: white;
}


.user-form-container{
  margin: auto;
  width: 320px;
  h1 {
    text-align: center;
  }
}

#login-password-match-form-group {
  display: none;
}

#forgot-password-form-group, #forgot-password-match-form-group {
  display: none;
}

.btn.submit {
  margin: 0 auto;
  display: block;
}

#unverified-email-notice div {
  margin: auto;
}

#content-container {
height: 100%;
background-color: #eeeeee;
}

.snap-loading-wrapper {
  margin: auto;
  position: relative;
  height: 2em; width: 2em;
}

.loading-circle {
  position: absolute;
  left: 50%; top: 50%;
  width: 0; height: 0;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
  .translate(-50%, -50%);
  .transition(all 200ms ease);

  &:nth-child(1){
    z-index: 2;
    background: #e74c3c;
    .animation-name(explode);
    .animation-duration(1s);
    .animation-timing-function(ease);
    .animation-delay(0);
    .animation-iteration-count(infinite);
  }

  &:nth-child(2){
    background: #34495e;
    .animation-name(explode);
    .animation-duration(1s);
    .animation-timing-function(ease);
    .animation-delay(0.5s);
    .animation-iteration-count(infinite);
  }
}

@-webkit-keyframes explode {
  0% { width: 0; height: 0; z-index: 1 }
  50% { width: 2em; height: 2em; z-index: 1 }
  100% { display: none; }
}

#snaps-container li {
  background-color: white;
  border: 1px solid black;
  padding: 10px 10px;
  margin-bottom: 20px;
    .transition(max-height 0.5s);
    max-height: 1000px;
    min-height: 40px;
    overflow: hidden;

  list-style: none;

  .snap-content {
    display:none;
  }

  .snap-email {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .snap-icon {
    display: inline-block;
    float: right;
  }

  .snap-countdown {
    font-weight: bold;
    float: right;
    display: none;
  }

  img.snap-photo {
    max-height: 0px;
    opacity: 0;
    .user-select(none);
    .transition-duration(800ms);
    .transition-property(opacity max-height);
    &.open { max-height: 1000px; opacity: 1; }
  }
}
