@import 'bootstrap/bootstrap.less';

.linear-transition(@time: 0.05s) {
  -moz-transition: @time linear;
  -o-transition: @time linear;
  -webkit-transition: @time linear;
  transition: @time linear;
}

.btn-outline(@color: white, @hoverColor: @color, @hoverText: #444) {
  background-color: fadeout(@color, 90%);
  border: 2px solid @color;
  color: @color;
  font-weight: normal;
  border-radius: 4px;
  .linear-transition(0.05s);

  &:hover {
    border: 2px solid @hoverColor;
    background-color: @hoverColor;
    opacity: 1;
    color: @hoverText;
  }
}

body {
  padding-top: 60px;
}

#nav-container .navbar-brand {
  margin-top: 8px;
  color: white;
  .linear-transition(0.1s);
  &:hover {
    color: #bb33dd;
  }
}

form.navbar-form {
  padding-left: 0;
  button {
    .btn-outline();
    &.navbar-send-btn {
      .btn-outline(white, @brand-primary, white);
    }
    &.navbar-snaps-btn {
      .btn-outline(white, @brand-warning, white);
    }
    &.navbar-logout-btn {
      .btn-outline(white, @brand-danger, white);
    }
    &.navbar-login-btn {
      .btn-outline(white, @brand-success, white);
    }
  }
}


#content-container .jumbotron {
  background-color: #bb33dd;
  color: white;
}


.user-form-container{
  margin: auto;
  width: 320px;
  h1 {
    text-align: center;
  }
}

#login-password-match-form-group {
  display: none;
}

#forgot-password-form-group, #forgot-password-match-form-group {
  display: none;
}

.btn.submit {
  margin: 0 auto;
  display: block;
}

#unverified-email-notice div {
  margin: auto;
}
